.DS_Store
/2
/3
*.class
.vscode
.idea
**/out
*.iml
/Round7/sevenzipsearch/target/
/Round7/xmlcountries/target/
/Round7/jsoncountries/target/
/Round10/javadocstandings/target/
/Round11/junitattainment/target/
/Round11/junitorder/target/
/Round12/calc/calc/target/
/Round12/calc/target/
/Round4/studentregister/
/Round5/wordgame/
/Round8/
/Round10/javadocjson/
/Round10/GIT_EX/
/Round12/wordle/
